html,body {
	height:100%;
	margin: 0;
}

.top-section {
	width: 100%;
	padding-top: 56%;
	background-image: url(../img/bg1.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	overflow: visible;
	background-attachment: fixed;
	background-size: 100% 100vh round;
	min-width: 480px;
}

.top-band {
	background-image: linear-gradient(45deg, rgba(0, 132, 197, 0.25) 0px, rgba(4, 137, 195, 0.5) 36%, rgba(48, 202, 191, 0.5) 66%, rgba(47, 188, 178, 0.25) 100%);
	width: 100%;
	min-height: 5em;
	position: absolute; 
	top: 85%;
	text-align: center;
	padding-top: 1%;
	padding-bottom: 1%;
}

.second-section {
	width: 100%;
	padding-top: 45%;
	background-image: url(../img/bg2.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	overflow: visible;
	/*background-attachment: fixed;*/
	text-align: center;
}

.section-band {
	background-image: linear-gradient(45deg, rgba(0, 132, 197, 0.25) 0px, rgba(4, 137, 195, 0.5) 36%, rgba(48, 202, 191, 0.5) 66%, rgba(47, 188, 178, 0.25) 100%);
	width: 100%;
	min-height: 5em;
	position: absolute; 
	top: 135%;
	text-align: center;
	padding-top: 1%;
	padding-bottom: 1%;
}

input[type="email"] {
	border-radius: .5em;
	border: none;
	background: rgba(255, 255, 255, 0.25);
	padding: .5em;
	margin: 1em;
	text-align: center;
	width: 15em;
}

/*@media screen and (max-width: 480px)
{

}*/